.pop-up {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
