.pop-up__close-button {
    background-image: url(../../../images/close-icon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    position: absolute;
    margin-top: 80px;
    margin-left: 460px;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.pop-up__close-button:focus {
    outline: 0px;
}

.pop-up__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .pop-up__close-button {
        margin-top: 85px;
        margin-left: 263px;
        background-size: 60%;
    }
}